@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <p>This is Joel Hiltons Film Collection page, browse the collection or add to it!</p>
    <br />
</div>
